/* frontend/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Geist', sans-serif;
}

@layer base {
  :root {
    --background: 250 20% 10%;
    --foreground: 210 40% 98%;

    --card: 250 20% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 250 20% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 250 95% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 250 30% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 250 20% 20%;
    --muted-foreground: 215 20% 75%;

    --accent: 270 60% 50%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 250 30% 25%;
    --input: 250 30% 25%;
    --ring: 250 95% 65%;

    --chart-1: 250 95% 65%;
    --chart-2: 270 85% 60%;
    --chart-3: 290 75% 55%;
    --chart-4: 310 65% 50%;
    --chart-5: 330 85% 60%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}